<!DOCTYPE html> 

    <html> 

      <head> 
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
      </head> 

      <body> 
        <h1>Bienvenue sur potichats.com!</h1> 

  <img src="https://ねこあつめ攻略.com/wp/wp-content/uploads/2015/06/000372-150x150.jpg" alt="logo potichats" style="width:42px;height:42px;">
</a>

        <p> 
          Tu es à présent membre de Potichats.com, ton login est : <%= @user.email %>. 
        </p> 
        <p> 
          Pour accéder à ton espace client, connecte-toi via : <%= @url %>. 
        </p> 
        <p> À très vite sur le site des potichats ! 


        <p><small> This message and any attachments (the ‘message’) is intended solely for the addressee(s) and are confidential. 
        If you receive this message by mistake, please delete it and notify the sender at once. 
    
       Potichats or the author shall and will not be liable for the message if modified. 
        The recipient should check this email and any attachments for the presence of viruses.
         Potichats accepts no liability for any damage caused by any virus transmitted by this email. </small></p>

      
        </body> 
      
    </html> 