<!DOCTYPE html> 

    <html> 

      <head> 
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> 
      </head> 

      <body> 
        <h1>Bienvenue <%= @user.name %>  !</h1> 
        <p> 
          Tu es à présent membre de Potichats.com, ton login est : <%= @user.email %>. 
        </p> 
        <p> 
          Pour accéder à ton espace client, connecte-toi via : <%= @url %>. 
        </p> 
        <p> À très vite sur le site des potichats ! 
      </body> 
      
    </html> 