<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src= "https://download.vikidia.org/vikidia/fr/images/9/9e/Chaton.jpg", alt = "rss feed", height= 40%, width= 40% > 
              </div>
            
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      <%= article.title %>
                  </a>
              </h4>
              <p>
              <%= article.description %>
                
              </p>
              <div class="m-bot15"> <strong>Price :</strong>
              <%= article.price %>
              <div class="form-group">
                  <label>Combien voulez-vous en ajouter à votre panier ?</label>
                  <input type="quantiy" placeholder="1" class="form-control quantity">
              </div>
              <p>
                  <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"><strong></i> Ajouter au panier</strong></button>
              </p>
          </div>
      </div>
  </section>
  </div>
  </div>