<p style="color: green"><%= notice %></p>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>


      <div class= "container-fluid">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Site des potis chats</h1>
        <p class="lead text-muted"> Içi c'est petits chats et mignonneries, si vous cherchez un cadeau simple et que vous avez pas d'inspi pour papy et mamie</p>
        <%# <p>
          <a href="#" class="btn btn-primary my-2">se connecter </a>
          <a href="#" class="btn btn-secondary my-2">s'inscrire </a>
        </p> %>
      </div>
      </div>
    


    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render "cards" %>

      
      </div>
</div>

<%= link_to "Nouvel article", new_article_path %>
