<p style="color: green"><%= notice %></p>

      <div class= "container-fluid">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Site des potits chats</h1>
        <p class="lead text-muted"> Içi c'est petits chats et mignonneries, si vous cherchez un cadeau simple et que vous avez pas d'inspi pour papy et mamie</p>
      </div>
      </div>
    


    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render "cards" %>

      
      </div>
</div>

